<!DOCTYPE html>
<html>
  <head>
    <title>CovidProjects</title>
    <meta name="description" content="A collection of open-source Covid-19 initiatives including software, hardware, data and task forces. Some looking for help.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_messages %>
    
    <%= yield %>
  </body>
</html>
